@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    padding-bottom: 100px;
}

.card {
    position: relative;
    width: 400px;
    height: 250px;
    background: url(back2.jpg);
    color: white;
    border-radius: 20px;
    top: 100px;
    z-index: 2;
    box-shadow: -10px 10px 10px #76faffb7;
    transform-style: preserve-3d;
    transition: 0.8s ease-in-out;
}

.outer {
    position: relative;
    z-index: 2;
    perspective: 1000px;
}

.flip-ready{
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5;
}

.back {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    font-family: 'Roboto';
    font-size: 30px;
}

#white-strip {
    position: absolute;
    background-color: #000;
    width: 100%;
    height: 30px;
    top: 50%;
    transform: translateY(-30px);
}

#cwback {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

.info {
    position: relative;
    width: 550px;
    height: 350px;
    background-color: rgb(253, 249, 249);
    box-shadow: -10px 10px 10px #b8b3b37e,
                10px 10px 10px #b8b3b37e;
    padding-top: 130px;
}

form {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
}

form * {
    outline: none;
}

label {
    font-size: 15px;
    font-weight: 550;
    margin: 20px 0;
}

input {
    font-family: 'Roboto', sans-serif;
    border: 2px solid rgb(172, 164, 164);
    border-radius: 5px;
    height: 40px;
    font-size: 20px;
}

input[type=text] {
    width: 95%;
}

#cw {
    width: 120px;
    height: 45px;
}

select {
    font-family: 'Roboto', sans-serif;
    width: 130px;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid rgb(172, 164, 164);
    font-size: 20px;
}

form .horiz {
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

input[type=submit] {
    font-family: 'Roboto', sans-serif;
    position: relative;
    width: 96%;
    height: fit-content;
    margin-top: 30px;
    padding: 10px;
    color: white;
    background-color: rgb(47, 158, 196);
    border: none;
}

#year {
    position: relative;
    left: 10px;
}

#code {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-start;
}

.code-block {
    width: fit-content;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-right: 15px;
}

.hash {
    position: relative;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: monospace;
}

#chip {
    position: absolute;
    top: 25px;
    left: 20px;
    width: 65px;
}

/*
font-size: 25px;
    font-weight: 300;
    letter-spacing: 5px;
    font-family: monospace;
*/

#holder {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

#expiry {
    position: absolute;
    bottom: 10px;
    right: 20px;
}

.pos {
    font-family: monospace;
    font-size: 18px;
    color: rgb(153, 149, 149);
}

.pos-name {
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.run-animation {
    animation: digit 0.2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}

#holderval, #cwval, #dateval {
    position: relative;
    display: flex;
    justify-content: flex-start;
}

.letter {
    position: relative;
    white-space: pre;
    font-family: monospace;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.alet {
    animation: addlet 0.2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}

.dlet {
    animation: dellet 0.2s ease-in-out 0s 1;
    animation-fill-mode: forwards;
}

#code, #holderval, #dateval {
    width: fit-content;
    height: fit-content;
}

#brands {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 25px;
    right: -75px;
}

#brands img {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

@keyframes digit {
    from {
        opacity: 0;
        top:20px;
    }

    80% {
        opacity: 0.8;
        top:-5px;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@keyframes addlet {
    from {
        opacity: 0;
        transform: translateX(20px) rotate(90deg);
        
    }

    to {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
}

@keyframes dellet {
    from {
        opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }

    to {
        opacity: 0;
        transform: translateX(20px) rotate(90deg);
    }
}

@keyframes movebrand {
    0% {
        transform: translateX(0px);
    }

    50% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}